{% extends "layouts/base.njk" %}
 {% set pageHeaderTitle = title %}
 {% set pageHeaderImage = imageURL %}
{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary = summary %}
{% block content %}
    <article class="prose lg:prose-xl w-full mx-auto mt-40">
      {{ content | safe }}
      </article>
{% endblock %}